.product-price {
  position: relative;
background-color: #f2f2f2;
}

.product-price__hiden{
  visibility: hidden;
}

.product-price__list {
  border: solid 2px #e5e5e5;
  margin: auto;
}

.product-price__descr{
  background-color: #283645;
  width: 276px;
  height: 94px;
}

.product-price__column {
  background-color: #ffffff;
  width: 276px;
  height: 59px;
}

.product-price__column {
  border: solid 2px #e5e5e5;
}

.product-price__btn {
  position: absolute;
  top:0;
  left: 150;
  /*visibility: hidden;*/
}

.product-price__title {
  font-size: 18px;
  line-height: 1.67;
  color:#ffffff;
}

.product-price__parag{
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
}

.product-price__clause{
  width: 276px;
  height: 59px;
  font-size: 14px;
  line-height: 2.14;
  color: #283645;
}
