html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Roboto, sans-serif;
  -webkit-font-kerning: none;
  font-kerning: none;
}

.hit::before {
  content: "";
  background-image: url(../img/icon/hit-ribbon.png);
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  width: 74px;
  height: 72px;
}

.hit::after {
  content: "ХИТ";
  font-size: 10px;
  line-height: 2.1;
  color: #ffffff;
  transform: rotate(-45deg);
  position: absolute;
  top:15px;
  left: 15px;
  z-index: 2;
  font-weight: 400;
  
}

@media (min-width: 660px) {
  .hit::after{
    font-weight: 600;
  }
}
