.albums {
  text-align: left;
  margin: 0 0 24px 0;
  overflow: hidden;
}

.albums__wrap {
  padding: 0 20px;
}

.albums__list-photo {
    margin: 0 auto;
  }

.albums-comment__ponorama {
  width: 100vw;
  max-width: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 18px;
}

.albums-comment__photo{
  // width: 100%;
  // height: 180px;
  margin-bottom: 18px;
}

.albums-comment__buttom-ponorama {
  text-decoration: none;
  background-color: #d22856;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  padding: 6px 19.6px;
  position: absolute;
  top: 0;
  right: 0;
}


.albums-comment {
  width: 280px;
  background-color: #f2f2f2;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &--ponorama {
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.albums-comment__author {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 700;
  font-style: normal;
  color: #283645;
  margin: 0 0 0 17px;
   width: 240px;
}



.albums-comment__time {
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.albums-comment__parag {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.3px;
  color: #283645;
  margin: 0;
  width: 240px;

  &--ponorama {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.3px;
    width: 262px;
    margin: 0;
  }
}

.albums-comment__quote {
  margin: 0 0 11px 17px;
}



.albums-comment__like-comment {

  background: none;
  border: none;
  font-size: 12px;
  line-height: 2;
  color: #d22856;
  text-transform: uppercase;
  margin: 0 0 0 18px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;

  &--ponorama {

    background: none;
    border: none;
    font-size: 12px;
    line-height: 2;
    color: #d22856;
    text-transform: uppercase;
    margin: 0 0 0 18px;
    cursor: pointer;
    padding: 0;
    letter-spacing: normal;
    display: flex;
    align-items: center;
  }
}

.albums-comment__like-icon {
margin-right: 18px;
  &--ponorama {
    margin-right: 18px;
  }
}

//////////////////////////////////////

 @media (min-width: 660px) {

  .albums-comment {
    width: 300px;
    margin: 0 0 20px 0;
    padding: 0 0 22px 0;

    &--ponorama {
      margin: 0 0 50px 0;
      padding: 0 0 27px 0;
    }
  }

  .albums__list-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .albums-comment__photo {
    width: 100%;
    height: 300px;
    margin: 0 0 24px 0;
  }

  .albums-comment__author {
    margin: 0 0 0 28px;
  }

  .albums-comment__quote {
    margin: 0 0 0 28px;
  }

  .albums-comment__parag {
    min-height: 50px;
    letter-spacing: 0.3px;

    &--ponorama {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      color: #283645;
      width: 510px;
      letter-spacing: 0.3px;
    }
  }


  .albums-comment__like-comment {
    margin: 11px 14px 0 28px;
    padding: 1px 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    &--ponorama {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      padding: 0 ;
      position: absolute;
      bottom: 72px;
      right: 29px;
      width: 125px;
      margin: 0;
    }
  }

  .albums-comment__ponorama{
    min-height: 509px;
    margin: 0 0 25px 0;
  }

  .albums-comment__buttom-ponorama {
    top: 57px;
    right: 0;
  }

  .albums-comment__like-icon--ponorama {
    margin-right: 0;
    margin-left: 18px;
   }

}
