.communication {

}

.communication__wrap {
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.communication__info {
  z-index: 1;
}

.communication__descr {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  margin: 0 0 -5px 0;
}

.communication__descr:last-of-type {
  margin: 0 0 33px;
}

.communication__parag {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin: 0;
}

.communication__address,
.communication__mail,
.communication__number {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  font-style: normal;
  text-decoration: none;
}

.communication__address {
  width: 215px;
}

// .communication__descr:last-of-type {
//   margin: 0 0 43px;
// }

.communication__info-address{
  margin: 0 0 19px 0;
  text-align: center;
}
.communication__info-mail {
  margin: 0 0 22px 0;
}

.communication__info-number {
  margin: 0 0 18px 0;
}

.communication__info-address,
.communication__info-mail,
.communication__info-number {
  //margin: 0 0 19px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.communication__map {
  height: 187px;
}

.communication__map img {
  max-width: none;
}
@media (min-width: 660px) {
  .communication {
   margin: 0;
  }

  .communication__descr {
    font-size: 40px;
    font-weight: 300;
  }

  .communication__descr:last-of-type {
    margin: 0 0 37px 0;
  }
  .communication__wrap {
    padding: 25px 20px 0 20px;
  }

.communication__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 35px 0;
}

.communication__info-number {
  margin: 0 60px 0 45px;
}
.communication__info-mail {
    margin: 0 30px 0 60px;
}

.communication__info-address {
  margin: 45px auto 0 auto;
  align-self: center;
}

.communication__info-mail .communication__parag {
  margin: 0 0 3px 0;
}
.communication__info-address .communication__parag {
  margin: 0 0 3px 0;
}

.communication__map {
  height: 360px;
}

}

@media (min-width: 960px) {
  .communication {
    padding-top: 59px;
    margin-bottom: 64px;
  }
  .communication__wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
  .communication__descr {
    font-size: 50px;
  }

  .communication__descr:last-of-type {
    margin: 0 0 50px 0;
  }

  .communication__info {
    margin: 0 0 20px 0;
    justify-content: space-between;
    width: 894px;
    padding: 0 1px 0 25px;

  }



  .communication__info-number{
    order: 1;

    align-self: flex-start;
    margin: 0 9px 0 0;
  }
  .communication__info-mail {
    order: 3;

    align-self: flex-start;
    margin: 0 0 0 3px;
    padding: 1px 3px 1px 1px;
  }
  .communication__info-address {
    order: 2;
   padding: 2px 1px 1px 3px;
    margin: 0 5px 0 9px;
    line-height: 1.2;
  }

  .communication__info .communication__parag{
    margin-bottom: 23px;
  }

  .communication__info-address .communication__parag {
    margin: 0 0 25px 0
  }
  .communication__info-mail .communication__parag {
    margin: 0 6px 23px 0;
  }
  .communication__map {
    height: 505px;
    border: 1px solid black;
  }
}
