.communication {
  text-align: center;
}

.communication__descr{
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  margin: 0;
}

.communication__parag {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin: 0;
}

.communication__number,
.communication__mail,
.communication__address {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  font-style: normal;
  text-decoration: none;
}
.communication__address{
width: 215px;
margin: auto;
}

.communication__descr:last-of-type {
  margin: 0 0 43px 0;
}

.communication__info-number,
.communication__info-mail,
.communication__info-address {
  margin: 0 0 28px 0;
}

.communication__map {
  margin: 5px 0 0 0;
}
