.communication {}

.communication__wrap {
  padding: 43px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.communication__info {
  z-index: 1;
}

.communication__descr {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  margin: 0 0 2px;
}

.communication__descr:last-of-type {
  margin: 0 0 37px;
}

.communication__parag {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin: 0 0 5px;
}

.communication__address,
.communication__mail,
.communication__number {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  font-style: normal;
  text-decoration: none;
}

.communication__mail {
  &:hover {
    color: #283645;
    border-bottom: 1px solid #283645;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    border-bottom: none;
  }
}

.communication__address {
  width: 215px;
}

.communication__info-address {
  margin: 0 0 40px;
  text-align: center;
}

.communication__info-mail {
  margin: 0 0 29px;
}

.communication__info-number {
  margin: 0 0 24px;
}

.communication__info-address,
.communication__info-mail,
.communication__info-number {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.communication__map {
  width: 100%;
  height: 203px;
  background: url("../img/icon/bg-map-mobile@1x.png") no-repeat 50% 100%;
  background-size: 100%;
  position: relative;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon/bg-map-mobile@2x.jpg");
  }
}

.communication__map::after {
  content: "";
  background: url("../img/icon/corner-mobile.svg") no-repeat 50% 100%;
  height: 203px;
  width: 100%;
  position: absolute;
  top: -167px;
  z-index: 3;
}

.communication__map::before {
  content: "";
  width: 36px;
  height: 36px;
  background: url("../img/icon/map-marker-svg.svg") no-repeat 50% 100%;
  position: absolute;
  left: 45%;
  bottom: 35%;
  z-index: 1;
}

.communication__map iframe {
  z-index: 2;
}
@media (min-width: 660px) {
  .communication {}

  .communication__descr {
    font-size: 40px;
    font-weight: 300;
  }

  .communication__descr:last-of-type {
    margin: 0 0 47px;
  }

  .communication__wrap {
    width: 660px;
    margin: 0 auto;
    padding: 46px 20px 0;
  }

  .communication__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 35px;
  }

  .communication__info-number {
    margin: 0 40px 0 45px;
  }

  .communication__info-mail {
    margin: 0 30px 0 40px;
  }

  .communication__info-address {
    margin: 50px auto 0;
    align-self: center;
  }

  .communication__info-mail .communication__parag {
    margin: 0 0 7px;
  }

  .communication__info-address .communication__parag {
    margin: 0 0 10px;
  }

  .communication__map {
    width: 100%;
    height: 370px;
    background: url("../img/icon/bg-map-tablet@1x.jpg") no-repeat 46% 74%;
    background-size: 105%;
    overflow: hidden;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/bg-map-tablet@2x.jpg");
    }
  }

  .communication__map::after {
    content: "";
    background: url("../img/icon/corner-mobile.svg") no-repeat 50% 100%;
    height: 123px;
    width: 100%;
    position: absolute;
    top: -59px;
    background-size: 100%;
    // z-index: 1;
  }

  .communication__map::before {
    left: 312px;
    bottom: 146px;
  }
}
@media (min-width: 960px) {
  .communication {
    padding-top: 67px;
    margin-bottom: 64px;
  }

  .communication__wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  .communication__descr {
    font-size: 50px;
  }

  .communication__descr:last-of-type {
    margin: 0 0 59px;
  }

  .communication__info {
    margin: 0 0 20px;
    justify-content: space-between;
    width: 894px;
    padding: 0 1px 0 25px;
  }

  .communication__info-number {
    order: 1;
    align-self: flex-start;
    margin: 0 9px 0 0;
  }

  .communication__info-mail {
    order: 3;
    align-self: flex-start;
    margin: 0 0 0 3px;
    padding: 1px 3px 1px 1px;
  }

  .communication__info-address {
    order: 2;
    padding: 2px 1px 1px 3px;
    margin: 0 5px 0 9px;
    line-height: 1.2;
  }

  .communication__info .communication__parag {
    margin-bottom: 23px;
  }

  .communication__info-address .communication__parag {
    margin: 0 0 25px;
  }

  .communication__info-mail .communication__parag {
    margin: 0 6px 29px 0;
  }

  .communication__map {
    background: url("../img/icon/bg-map-desktop@1x.jpg") no-repeat 50% 59%;
    background-size: 100%;
    height: 505px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/bg-map-desktop@2x.jpg");
    }
  }

  .communication__map::after {
    content: "";
    background: url("../img/icon/corner-mobile.svg") no-repeat 50% 100%;
    height: 123px;
    width: 100%;
    position: absolute;
    top: -18px;
    background-size: 100%;
    // z-index: 1;
  }

  .communication__map::before {
    left: 581px;
    bottom: 204px;
  }
}
