.descr-form {
  text-align: center;
  margin: 0 auto 35px;
}

.descr-form__wrap {
  padding: 45px 20px 0;
}

.descr-form__parag {
  font-size: 14px;
  line-height: 2.2;
  color: #283645;
  margin: 0 auto;
  width: 280px;
}

.descr-form__parag:last-child {
  display: none;
}

@media (min-width: 660px) {
  .descr-form {
    margin-bottom: 72px;
  }

  .descr-form__parag {
    font-size: 18px;
    line-height: 1.67;
    width: 490px;
    margin: 0 auto;
    padding: 90px 0 0;
  }

  .descr-form__wrap {
    padding: 0 20px;
  }

  .descr-form__parag:last-child {
    display: block;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .descr-form {
    max-width: 960px;
    margin-bottom: 0;
  }

  .descr-form__wrap {
    padding: 92px 100px 72px;
  }

  .descr-form__parag {
    width: 700px;
    display: inline;
    margin: 0 auto;
    padding: 0;
  }

  .descr-form__parag:last-child {
    display: inline;
    padding: 0;
  }
}
