.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  width: 33.333333%;

  svg {
    cursor: pointer;

    &:hover .footer__logo-text {
      fill: #d22856;
    }

    &:active {
      .footer__logo-text {
        fill: #283645;
      }

      opacity: 0.3;
    }
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
}

.footer__icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 3px solid rgba(40,54,69,0.1);
  border-radius: 50%;
  margin: 0 8px;

  &:hover {
    border: 3px solid rgba(40,54,69,1);
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__develop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.333333%;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.29;
  color: #283645;
}

.footer__develop--logo {
  margin: 0 0 0 15px;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

.footer__develop:hover .footer__develop--logo {
  fill: #283645;
}

.footer--mobile-none {
  display: none;
}
@media (min-width: 660px) {
  .footer {
    margin: 35px 0 0 0;

  }

  .footer--mobile-none {
    display: block;
  }

  .footer__wrap {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__social {
    padding: 10px 0 0 0;
  }

  .footer__develop {
    padding: 10px 0 0 0;
  }
}
