.footer {

  padding-bottom: 50px;


  &--mobile-none {
    display: none;
  }
}

.footer__wrap {
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  align-self: center;
  margin: 0 0 36px 0;
}



.footer__logo svg {
    cursor: pointer;


    &:hover .footer__logo-text {
      fill: #d22856;
    }

    &:active .footer__logo-text {

        fill: #283645;
        opacity: 0.3;
      }


    }


.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  //margin: 0 0 40px 0;
  padding:  0 0 40px 0;
}

.footer__icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 3px solid rgba(40,54,69,0.1);
  border-radius: 50%;
  margin: 0 8.5px;

  &:hover {
    border: 3px solid rgba(40,54,69,1);
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__develop {
  display: flex;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.29;
  color: #283645;

  &--logo {
    margin: 2px 0 0 15px;

    &:hover {
      fill: #283645;
    }

    &:active {
      fill: #283645;
      opacity: 0.3;
    }
  }
}

.footer__develop:hover .footer__develop--logo {
  fill: #283645;
}

.footer__logo-desk {
  display: none;
}

// .footer__develop--logo {
//   margin: 0 0 0 15px;
//
//   &:hover {
//     fill: #283645;
//   }
//
//   &:active {
//     fill: #283645;
//     opacity: 0.3;
//   }
// }

// .footer--mobile-none {
//   display: none;
// }

//////////////////////////////////////////////

@media (min-width: 660px) {
  .footer {
    width: 660px;
    margin: 35px auto 0 auto;
  }
  .footer__logo {
    //width: 33.333333%;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .footer--mobile-none {
    display: block;
  }

  .footer__wrap {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

  }

  .footer__social {
    //padding: 0 0 0 0;
    //width: 33.333333%;
    align-self: flex-start;
    // margin-right: 15px;
    // margin-top: 3px
    padding-right: 15px;
    padding-top: 3px;
  }

  .footer__develop {
    padding: 10px 0 0 0;
    //width: 33.333333;
  }

  .footer__logo-desk {
    display: none;
  }
}
//
@media (min-width: 960px){
 .footer {
margin-bottom: 50px;
width: 960px;
margin: 0 auto;
 }

 .footer__wrap{
   padding: 0 10px;
   justify-content: space-between;
 }

 .footer__develop{
   font-size: 18px;
   line-height: 1;
 }

 .footer__develop--logo {
   margin-top: 6px;
 }

 .footer__develop {
   padding: 11px 0 0 0;

 }

 .footer__social{
   // margin-right: 0;
   // margin-left: 15px;
   padding-right: 0;
   padding-left: 11px;
   padding-bottom: 0;
   padding-top: 9px;
 }

 .footer__logo-tablet {
   display: none;
 }

 .footer__logo-desk {
   display: inline;
 }
}
