.form-emotions{
  margin: 0 0 52px 0;
}
.form-emotions__wrap {
  padding: 0 20px;
}
.form-emotions__title {
  font-size: 14px;
  line-height: 2.14;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0 0 19px 0;
}

.form-emotions__text{
  width: 276px;
  height: 197px;
  border: solid 2px #e5e5e5;
  padding: 23px 15px 5px 19px;
  outline:none;
  resize: none;
}

.form-emotions__text[placeholder] {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;

}
