.form-chek {
  background-color: #f2f2f2;
  margin: 0 0 41px 0;
}

.form-chek__wrap {
  padding: 39px 20px 0 20px;
}



.form-chek__title {
  margin: 0 0 42px 0;
  width: 220px;
  align-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
}

.form-chek--system .form-chek__title {
  margin: 0 0 25px 0;
}
.form-chek--system .form-chek__form-block {
padding-bottom: 14px;

}

.form-chek__chek,
.form-chek__chek-radio {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;
  position: relative;
  cursor: pointer;
}

.form-chek__chek {
  margin: 0 0 52px 70px;
}

.form-chek__chek-radio {
  margin: 0 0 32px 34px;
}

.form-chek__chek:last-child {
  margin-bottom: 47px;
}

.form-chek__box,
.form-chek__box-radio {
  display: none;
}

.form-chek__chek::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  position: absolute;
  left: -69px;
  bottom: -2px;
}

.form-chek__chek:hover::before {
  border: solid 2px #283645;
}

.form-chek__chek:active::before {
  border: solid 2px #d22856;
}

.form-chek__box:checked + .form-chek__chek::before {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-yes.svg") no-repeat 50% 50%;
}

.form-chek__chek-radio::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 36px;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -33px;
  bottom: -13px;
  position: relative;
  }

  .form-chek__chek-radio:hover::before {
    border: solid 2px #283645;
  }
  .form-chek__chek-radio:active::before {
    border: solid 2px #d22856;
  }

  .form-chek__box-radio:checked + .form-chek__chek-radio::after {
    content: "";
    position: absolute;
    // bottom: 13px;
    // left: -50px;
    bottom: 5.5px;
    left: -22px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #d22856;
    border-radius: 50%;
  }

  .form-chek__form-block {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }








@media (min-width: 660px) {
  .form-chek {
    background: none;

    &--system {
      order: 2;
    }

    &--progress {
      order: 4;
    }
  }

  .form-chek__title {
    margin: 0 32px;
  }

  .form-chek--progress .form-chek__title {
    width: 375px;
  }
  .form-chek--system .form-chek__title{
    width: 320px;
  }

  .form-chek__form-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 53px 10px 15px 59px;
  }
.form-chek__chek-radio{
  margin-bottom: 39px;
}

}
