.form-contest {
 display: flex;
 flex-direction: column;
 //align-items: center;
 margin: 0 auto 57px auto;
}


.form-contest__button {
  font-family: Open Sans;
  align-self: center;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color:#ffffff;
  background-color: #2aab6d;
  border: none;
  text-transform: uppercase;
  padding: 15px 46px 17px 48px;
  border-radius: 5px;
  margin: -5px 0 35px 0;

  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}

.form-contest__required {
  //align-self: center;
  font-size: 14px;
  line-height: 2.14;
   color: #283645;
   text-transform: uppercase;
   margin: 0 auto 0 48px;
  //width: 68%;
}

.form-contest__required::before{
  content: "* ";
  color: #d22856;
}

.form-contest__control{

  &--wrap {
    padding: 0 20px;
  }
}


.form-contest legend {
  text-align: center;

}

@media (min-width: 660px) {
  .form-contest {
    margin-bottom: 89px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-contest__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    order: 6;
  }

  .form-contest__button {
    margin: 0;
    padding: 15px 56px 17px 58px;
  }
  .form-contest__required{
    margin: 0;
  }

}

@media (min-width: 960px) {

.form-contest {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

}
