.form-chek {
  background-color: #f2f2f2;
  margin: 0 0 41px;

  & legend {
    margin-bottom: 20px;
  }

  &--progress {
    & legend {
      text-align: center;
      margin: 0 auto;
    }
  }

  &--system {
    & legend {
      text-align: center;
      margin: 0 auto 40px;
      max-width: 230px;
    }
  }
}

.form-chek__wrap {
  padding: 39px 20px 10px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  &--progress {
    padding: 39px 20px 10px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-chek__title {
  margin: 0 auto 42px;
  width: 220px;
  align-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
}

.form-chek--system .form-chek__title {
  margin: 0 0 25px;
}

.form-chek--system .form-chek__form-block {
  padding-bottom: 14px;
}

.form-chek__chek,
.form-chek__chek-radio {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;
  position: relative;
  cursor: pointer;
}

.form-chek__chek {
  margin: 0 0 52px 70px;
}

.form-chek__chek-radio {
  margin: 0 0 31px 34px;
}

.form-chek__chek:last-child {
  margin-bottom: 38px;
}

.form-chek__chek-radio:last-child {
  margin-bottom: 22px;
}

.form-chek__box,
.form-chek__box-radio {
  //display: none;
  appearance: none;
  position: absolute;
}

.form-chek__chek::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  position: absolute;
  left: -69px;
  bottom: -2px;
}

.form-chek__chek:hover::before {
  border: solid 2px #283645;
}

.form-chek__box:focus + .form-chek__chek::before {
  border: solid 2px #283645;
}

.form-chek__chek:active::before {
  border: solid 2px #d22856;
}

.form-chek__box:checked + .form-chek__chek::before {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-yes.svg") no-repeat 50% 50%;
  background-color: #ffffff;
}

.form-chek__chek-radio::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 36px;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
  left: -33px;
  bottom: -10.9px;
  position: relative;
}

.form-chek__chek-radio:hover::before {
  border: solid 2px #283645;
}

.form-chek__box-radio:focus + .form-chek__chek-radio::before {
  border: solid 2px #283645;
}

.form-chek__chek-radio:active::before {
  border: solid 2px #d22856;
}

.form-chek__box-radio:checked + .form-chek__chek-radio::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -22px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

.form-chek__form-block {
  border: none;
  padding: 0;
  margin: 0;
}

.form-chek__block-progress {
  display: flex;
  flex-direction: column;
}

.form-chek__block-radio {
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .form-chek {
    background: none;

    &--system {
      order: 2;
      margin: 0 auto 69px;

      & legend {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
      }
    }

    &--progress {
      order: 4;
      margin: 0 auto 60px;

      & legend {
        margin: 0 auto 18px;
        text-align: center;
        max-width: 100%;
      }
    }
  }

  .form-chek__wrap {
    width: 660px;
    padding: 0 20px;

    &--progress {
      width: 660px;
      padding: 0 20px;
    }
  }

  .form-chek__chek {
    margin: 0 0 52px 58px;

    &::before {
      left: -59px;
    }
  }

  .form-chek__title {
    margin: 0 20px;
  }

  .form-chek--progress .form-chek__title {
    width: 375px;
  }

  .form-chek--system .form-chek__title {
    width: 320px;
    margin: 0 22px;
  }

  .form-chek__form-block {
    width: 100%;
    padding: 33px 5px 14px;
    border: solid 2px #e5e5e5;
  }

  .form-chek__chek-radio {
    margin: 0 0 32px 20px;

    &::before {
      left: -21px;
      bottom: -12px;
    }
  }

  .form-chek__box-radio:checked + .form-chek__chek-radio::after {
    bottom: 6.5px;
    left: -10px;
  }

  .form-chek--system .form-chek__form-block {
    padding-bottom: 35px;
  }

  .form-chek__block-progress {
    margin-left: 55px;
  }

  .form-chek__block-radio {
    margin-left: 55px;
  }
}

@media (min-width: 960px) {
  .form-chek {
    width: 960px;
    margin: 0 auto;

    &--system {
      width: 431px;
      margin: 0 0 60px 77px;
    }

    &--progress {
      margin: 0 auto 58px;

      & .form-chek__form-block {
        padding: 31px 0 8px 61px;
      }
    }
  }

  .form-chek__wrap {
    padding: 0;
    width: 431px;

    &--progress {
      width: 960px;
      padding: 0 10px;
      margin: 0 auto;
    }
  }

  .form-chek__chek-radio {
    margin: 1px 0 29px 33px;
  }

  .form-chek__block-progress {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin: 0;
  }

  .form-chek__chek {
    width: 200px;
    margin: 0 49px 52px 56px;

    &:nth-of-type(2n) {
      order: 2;
    }

    &:nth-of-type(2n+1) {
      order: 1;
    }

    &:nth-of-type(5) {
      width: 150px;
    }

    &:nth-of-type(6) {
      width: 150px;
    }
  }
}
