.info-form {
  margin: 0 0 22px;
  width: 320px;

  &--name {
    margin-left: auto;
    margin-right: auto;
  }

  &--contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: -11px;
  }
}

.info-form__wrap {
  width: 320px;
  padding: 0 20px;
  &--contact {
    padding: 0 20px;
  }
}

.info-form__title {
  align-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
}

.info-form__name {
  //width: 160px;
  font-size: 14px;
  line-height: 2.14;
  color: #d22856;
  margin: 0 0 20px 20px;
  text-transform: uppercase;

  &--nickname {
    display: flex;
    flex-direction: column;
  }
}

.info-form__field {
  align-self: center;
  width: 279px;
  border: solid 2px #e5e5e5;
  padding: 14px 20px;
  margin: 5px 0 0 -20px;
  outline: none;
  border: solid 2px #e5e5e5;
  //letter-spacing: 0.5px;

  &:hover {
    border: solid 2px #283645;
  }

  &:focus {
    border: solid 2px #d22856;
  }
}

.info-form__form-block .info-form__field {
  margin: 7px 0 -1px -20px;
}

.info-form__form-block {
  border: none;
  padding: 0;
}

.info-form__form-block legend {
  display: none;
}

.info-form__field {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;

  &::-webkit-input-placeholder{
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
  }

  &:-moz-placeholder{
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
  }
  &::-moz-placeholder{
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
  }
  &:-ms-input-placeholder{
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
  }
}


.info-form__block-contact {
  display: flex;
  flex-direction: column;
}
////////////////////////////////////////////////////////////////////
@media (min-width: 660px) {
  .info-form {
    background-color: none;
    position: relative;
    width: 660px;

    &--name {
      order: 1;
    }

    &--name .info-form__field {
      width: 100%;
      margin-left: 18px;
      margin-top: 0;
      padding: 14px 20px;
    }

    &--name .info-form__name {
      margin: 0 0 53px;

      &:last-child {
        margin-bottom: 36px;
      }
    }

    &--contact {
      order: 3;
      margin-bottom: 53px;
    }

    &--contact .info-form__field {
      width: 496px;
      margin: 0 0 10px -74px;
      background: linear-gradient(to right, #fff 433px, #e5e5e5 63px);
      position: relative;
      padding: 15px 65px 14px 17px;
    }

    &--contact .info-form__name {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 0 0 32px 18px;
      position: relative;

      &:last-of-type {
        margin: 0 0 0 18px;
      }
    }
  }

  .info-form__wrap {
    width: 100%;
    padding: 0 20px;

    &--contact {
      padding: 0 20px;
    }
  }

  .info-form__title {
    margin: 0 32px;
    text-align: center;
  }

  .info-form__field {
    // padding: 14px 20px 14px 15px;
    position: relative;
  }

  .info-form__name {
    position: relative;

    &--phone::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon/icon-phone.svg");
      position: absolute;
      width: 20px;
      height: 19px;
      top: 21px;
      right: 73px;
      z-index: 1;
    }

    &--mail::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon/icon-mail.svg");
      position: absolute;
      width: 18px;
      height: 13px;
      top: 24px;
      right: 73px;
      z-index: 1;
    }

    &--nickname {
      flex-direction: row;
      align-items: center;
    }
  }

  .info-form__form-block {
    //display: block;
    // padding: 37px 5px 27px 58px;
    padding: 37px 5px 27px;
    border: solid 2px #e5e5e5;
  }

  .info-form__form-block legend {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .info-form__block-contact {
    margin-left: 53px;
  }
}
@media (min-width: 960px) {



  .info-form__wrap {
    padding: 0;
    &--contact {
      padding: 0 10px;
    }

  }

  .info-form {
    &--name {
      width: 433px;
      margin: -6px 0 0 8px;
    }

    &--contact {
      width: 960px;
      margin: 0 auto 58px auto;



      & .info-form__name{
        align-items: flex-start;
        align-content: flex-start;
        margin: 0 0 0 79px;

      &:last-child {
        margin: 0 0 0 90px;
      }

      &--phone::before {
        right: 22px;
      }
      &--mail::before {
        right: 22px;
      }

      }

      & .info-form__field {
        margin: 0 0 8px -17px;
        width: 371px;
        background: linear-gradient(to right, #fff 308px, #e5e5e5 63px);
        padding: 15px 65px 14px 13px;
      }

    }
  }

  .info-form__form-block {
    margin: 0;
    padding: 36px 5px 14px 0;
  }



  .info-form__block-contact{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  // .info-form--contact .info-form__field {
  //   margin: 0 0 8px -17px;
  //   width: 371px;
  //   background: linear-gradient(to right, #fff 311px, #e5e5e5 61px);
  // }

  .info-form__block-contact {
    margin: 0;
  }
}
