.info-form {
  margin: 0 0 22px 0;
}

.info-form__wrap {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.info-form__title {
  align-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
}

.info-form__name {
  width: 160px;
  font-size: 14px;
  line-height: 2.14;

  color: #d22856;
  margin: 0 0 20px 20px;
  text-transform: uppercase;
}

.info-form__field {
  align-self: center;
  width: 276px;
  border: solid 2px #e5e5e5;
  padding: 14px 20px;
  margin: 5px 0 0 -20px;
  outline: none;
  border: solid 2px #e5e5e5;
  letter-spacing: 0.5px;

  &:hover {
    border: solid 2px #283645;
  }

  &:focus {
    border: solid 2px #d22856;
  }
}

.info-form__form-block {
  border: none;
  padding: 0;
  margin: 0;
}

.info-form__form-block legend {
  display: none;
}

.info-form__field[placeholder] {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;
}
////////////////////////////////////////////////////////////////////
@media (min-width: 660px) {
  .info-form {
    background-color: none;
    position: relative;

    &--name {
      order: 1;
    }

    &--contact {
      order: 3;
    }
  }

  .info-form__title {
    margin: 0 32px;
  }

  .info-form__field {
    padding-right: 13%;
    position: relative;
  }

  .info-form__name {
    position: relative;

    &--phone::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon/icon-phone.svg");
      position: absolute;
      width: 20px;
      height: 19px;
      top: 20px;
      right: 20px;
      z-index: 1;
    }

    &--mail::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon/icon-mail.svg");
      position: absolute;
      width: 18px;
      height: 13px;
      top: 21px;
      right: 21px;
      z-index: 1;
    }
  }

  .info-form--name .info-form__name {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 56px;
  }

  .info-form--contact .info-form__name {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 40px;
    position: relative;

    &:last-of-type {
      margin: 0;
    }
  }

  .info-form__form-block {
    display: flex;
    //justify-content: flex-start;
    width: 100%;
    padding: 47px 60px 33px;
    border: solid 2px #e5e5e5;
  }

  .info-form--contact .info-form__field {
    width: 100%;
    margin: 0 0 21px;
    background: linear-gradient(to right, #fff 87%, #e5e5e5 60px);
  }

  .info-form--name .info-form__field {
    width: 100%;
    margin-left: 22px;
  }
}
