.initial {
background: url(../img/icon/bg-product-performance-mobile.jpg) no-repeat 50% 23%;
min-height: 180px;

}

.initial__wrap {
  padding: 35px 20px 0 20px;
}

.initial__title {
  margin: auto;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 240px;
  text-align: center;
}
