.nav {
  background-color: #283645;
  margin: 0 0 -69px 0;
  position: relative;
  z-index: 1;
}

.nav-list {
  list-style: none;
  font-size: 18px;
  line-height: 1.78;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav__controls {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #000000;
  padding: 22px 19px 20px 20px;
  margin: 0 -20px;
  overflow: hidden;
}

.nav-list__menu {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px #000000;
  margin: 0 -20px;
}

.nav__home {
  margin: 0 77px 0 0;

  &--tablet {
    display: none;
  }
}

.nav__home svg {
  &:hover {
    fill: #d22856;
  }
  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}
@media (max-width: 959px) {
  .nav {
    &--closed {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .nav__button {
    padding: 0;
    position: relative;
    border: none;
    color: inherit;
    background-color: transparent;
    margin: 0;
    cursor: pointer;

    .nav--nojs & {
      display: none;
    }

    .nav--opened & {
      width: 24px;
      height: 23px;
    }
    .nav--closed & {
      width: 50px;
      height: 24px;
    }

    &--closed {
      .nav--opened & {
        display: none;
      }
    }
  }

  .nav--closed .nav__button--opened {
    display: none;
  }

  .nav--closed .nav__controls {
    padding: 21px 19px;
    border: none;
  }

  .nav--closed .nav-list {
    display: none;
  }

  .nav--closed .nav__button--closed:hover {
    fill: #d22856;

    &:active {
      fill: #d22856;
      opacity: 0.3;
    }
  }

  .nav--opened .nav__button--opened:hover {
    fill: #d22856;

    &:active {
      fill: #d22856;
      opacity: 0.3;
    }
  }
}

.nav-list__menu a {
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.78;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;

  &[href]:hover {
    color: #d22856;
  }

  &[href]:active {
    color: #d22856;
    opacity: 0.3;
  }
}

.nav__wrap {
  padding: 0 20px;
}
@media (min-width: 660px) {

  .nav {
    margin: 0 0 -111px 0;
  }
  .nav__controls {
    margin: 0 -37px;
    padding: 25px 19px 40px 19px;
  }

  .nav--closed .nav__controls {
    padding: 40px 19px;
    min-height: 110px;
    box-shadow: none;
  }

  .nav__button {
    margin: 20px 0 0 225px;
  }

  .nav__home {
    margin: 0 225px 0 0;

    &--mobile {
      display: none;
    }
     &--tablet {
       display: inline;
     }
  }

  .nav__wrap {
    padding: 0 37px;
  }

  .nav-list__menu {
    margin: 0 -37px;
  }
}

@media (min-width: 960px) {
  .nav {
    background: rgba(0, 0, 0, 0.3);
  }

  .nav__wrap {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
  }

  .nav__controls {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 46px 0 0 25px;
    margin: 0;
    border: none;
  }

  .nav__home {
    margin: 0;
  }



  .nav__button {
    display: none;
  }

  .nav-list {
    // width: 682px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin: 0 0 0 5%;
    // padding: 46px 0 46px 40px;
    padding: 46px 0 46px 0;
  }

  .nav-list__menu {
    border: none;
    margin: 0 20px 0 20px;
  }

  // .nav-list__menu:nth-child(1){
  //   margin-right: 15%;
  //   // margin-left: 5%;
  // }
  // .nav-list__menu:nth-child(2){
  //   margin-right: 5%;
  //   margin-left: 10%;
  // }
  // .nav-list__menu:nth-child(3){
  //   margin-right: 10%;
  // }

  .nav-list__menu:nth-child(1){
    margin-right: 60px;
    margin-left: 45px;
  }
  .nav-list__menu:nth-child(2){
    margin-right: 60px;

  }
  .nav-list__menu:nth-child(3){
    margin-right: 60px;
  }


  .nav-list__menu a {
    display: block;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    text-transform: none;
    padding: 0;
    // margin: 0;
  }


}
