.photo-edit {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px 0 41px 0;
  margin: 0 0 40px 0;
  /*overflow: hidden;*/
}

.photo-edit__wrap {
  padding: 0 18px 0 20px;
}

.photo-edit__settings {
  margin: 0 0 40px;
}

.photo-edit__controls {
  padding: 0 18px 32px 36px;
  position: relative;
  margin: 0 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.photo-edit__casting,
.photo-edit__contrast {
  display: none;
}

.photo-edit__scale {
  height: 2px;
}

.photo-edit__bar {
  width: 80%;
  border-bottom: 2px solid #000000;
}

.photo-edit__toggle {
  width: 14px;
  height: 15px;
  border: solid 2px #d22856;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: 100px;
  cursor: pointer;
}

.photo-edit__your-photo {
  margin: 0 0 42px;
}

.photo-edit__load {
  display: none;
}

.photo-edit__settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-edit__setting {
  background-color: transparent;
  margin: 0;
  border: none;
  cursor: pointer;
}

.photo-edit__setting img {
  margin: 0 17px;
  cursor: pointer;
}

.photo-edit__button-cancel,
.photo-edit__button-send {
  min-width: 281px;
  padding: 18px 0;
  color: inherit;
  background-color: transparent;
  border: solid 3px #d22856;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #d22856;
  border-radius: 50px;
  margin: 0 0 12px;
  cursor: pointer;
}

.photo-edit__button-cancel {
  opacity: 0.1;
  border: solid 3px #283645;
  color: #283645;
}
@media (min-width: 660px) {
  .photo-edit{
  padding: 57px 0 54px 0;
  }

  .photo-edit__your-photo {
    width: 300px;
    height: 400px;
    margin-right: 45px;
  }

  .photo-edit__bar {
    margin: 0 0 0 35px;
  }

  .photo-edit__controls {
    width: 245px;
    height: 70px;
    padding: 32px 0 0 0;
  }
  .photo-edit__toggle {
    top: 25px;
    right: 100px;

  }

  .photo-edit__casting,
  .photo-edit__contrast {
    display: block;
  }

  .photo-edit__settings {
    display: none;
  }

  .photo-edit__load-photo {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-edit__block-control {
    height: 250px;
  }

  .photo-edit__button-controls{
    display: flex;
    flex-direction: column;

  }
}
