.product-price {
  position: relative;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom right, #fff 50%, #f2f2f2 51%);
  background-size: 100% 32px;
  background-repeat: no-repeat;
  padding: 90px 0 50px;
  margin: 0 0 47px;
}

.product-price__hiden {
  visibility: hidden;
}

.product-price__list {
  border: solid 2px #e5e5e5;
  width: 270%;
  margin: 0 0 45px;
}

.product-price__descr {
  background-color: #283645;
  width: 276px;
  height: 94px;
}

.product-price__column {
  background-color: #ffffff;
  width: 276px;
  height: 59px;
}

.product-price__column {
  border: solid 2px #e5e5e5;
}

.product-price__btn {
  display: none;
}

.product-price__title {
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
}

.product-price__parag {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
}

.product-price__clause {
  width: 276px;
  height: 59px;
  font-size: 14px;
  line-height: 2.14;
  color: #283645;
}

.product-price__slider {}

.product-price__slider-btns {
  text-align: center;
}

.product-price__control {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: #283645;
  border-radius: 50%;
  margin: 0 9px;
}

.product-price__btn:nth-of-type(1):checked~.product-price__slider .product-price__control:nth-of-type(1),
.product-price__btn:nth-of-type(2):checked~.product-price__slider .product-price__control:nth-of-type(2),
.product-price__btn:nth-of-type(3):checked~.product-price__slider .product-price__control:nth-of-type(3) {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: solid 2px #283645;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}

.product-price__btn:nth-of-type(1):checked~.product-price__slider .product-price__list {
  transform: translateX(15px);

}

.product-price__btn:nth-of-type(2):checked~.product-price__slider .product-price__list {
  transform: translateX(-270px);
}

.product-price__btn:nth-of-type(3):checked~.product-price__slider .product-price__list {
  transform: translateX(-560px);
}

.product-price__clause:nth-of-type(1),
.product-price__hiden {
  display: none;
}
