.product-performance {
  background-color: #283645;
  text-align: center;
  padding: 0 0 33px 0;
  position: relative;
  margin: 0;
  min-height: 733px;
}

.product-performance__wrap {
  padding: 0 20px;
}

.product-performance__info {
  width: 281px;
  text-align: center;
  margin: auto;
}

.product-performance__image {
  background: url("../img/icon/iphone-5-in-hand-png.png") no-repeat 93% 120%, url("../img/icon/bg-product-performance-mobile.jpg") no-repeat 50% 100%;
  min-height: 462px;
  margin: 0 0 29px;
  // background-size: 480px, 100%;
  background-size: 500px, 100%;
  position: relative;
}

.product-performance__download {
  min-width: 100%;
  padding: 15px 30px 16px 30px;
  color: inherit;
  background-color: transparent;
  border: solid 3px #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  margin: 0 0 34px 0;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.product-performance__support {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.product-performance__system {
  //margin: 0 18px;
}

.system__icon{
  max-width: none;
  margin: 0 17px;
  //padding: 5px 5px 5px 5px;
  &--apple {
    width: 47px;
    height: 56px;
    margin: 0 16px;
  }

  &--android {
    width: 43px;
    height: 47px;
    margin: 0 19px;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
    margin: 0 17px 4px 17px;
  }
}



.product-performance__availability {
  width: 245px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #ffffff;
  margin: auto;
}

.product-performance__parag {
  display: none;
}
/////////////////////////////////////////

@media (min-width: 660px) {
  .product-performance__image,
  .product-performance__image--bg {
    display: none;
  }

  .product-performance {
    padding: 80px 0 0;
    text-align: left;
    min-height: 729px;
    background: url("../img/icon/iphone-hand-tablet.png") no-repeat 50% 101%, url("../img/icon/bg-back-tablet.jpg") no-repeat 50% 80%;
    background-size: 701px, 181%;
    margin: 0;
  }

  .product-performance__wrap {
    padding: 0 20px;

  }

  .product-performance__info {
    width: 300px;
    margin: 125px 0 0 0;

  }

  .product-performance__download {
    margin: 0 0 46px 0;
  }

  .product-performance__support {
    margin: 0 0 37px 0;
  }

  .product-performance__availability {
    width: 295px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    margin: 0 0 0 3px;
  }

  .product-performance__parag {
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    width: 186px;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 30px 0;
  }

}

@media (min-width: 960px) {

  .product-performance{
    // min-height: 854px;
    min-height: 857px;
  }

  .product-performance {
    // background: url("../img/icon/iphone-hand-tablet.png") no-repeat 68% 100%, url("../img/icon/bg-back-desktop.jpg") no-repeat 50% 75%;
    background: url("../img/icon/iphone-hand-tablet.png") no-repeat 68% 100%, url("../img/icon/bg-back-desktop.jpg") no-repeat 50% 75%;
    // background-size: 830px, 213%;
    background-size: 830px, auto;

  }

  .product-performance__info {
    margin: 140px 0 0 9.5%;
    width: 300px;
  }
  .product-performance__parag {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    margin: 0 0 50px 0;
  }

  .product-performance__download{
    font-size: 21px;
    line-height: 0.86;
    padding: 16px 15px 16px 15px;
    margin-bottom: 68px;
  }

  .product-performance__support {
    margin: 0 0 58px 0;
  }
}
