.product-effect {
  display: none;
}

@media (min-width: 660px) {
  .product-effect {
    display: block;
  }

  .product-effect__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 660px;
    margin: 0 auto 75px;
  }

  .product-effect__descr {
    margin: 0 0 0 7.5%;
  }

  .product-effect__time-block {
    position: relative;
    width: 238px;
    height: 276px;
    margin: 0;
  }

  .product-effect__time-block svg {
    position: absolute;
    width: 238px;
    height: 276px;
    top: 1px;
    left: -9px;
    z-index: 1;
  }

  .product-effect__time {
    display: block;
    position: absolute;
    width: 204px;
    height: 204px;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.56;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 50%;
    padding: 8px 5px 9px 31px;
    margin: 56px 0 0 7px;
    z-index: 2;
  }

  .product-effect__title {
    width: 200px;
    font-size: 30px;
    line-height: 1.2;
    color: #283645;
    margin: 13px 0 10px 10px;
  }

  .product-effect__parag {
    font-size: 14px;
    line-height: 1.71;
    color: #283645;
    margin: 3px 0 13px 10px;
    width: 300px;
  }

  .product-effect__research {
    color: #d22856;
    margin: 3px 0 0 10px;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media (min-width: 960px) {
  .product-effect {
    background-color: #f2f2f2;
    padding-top: 35px;
    padding-bottom: 53px;
    margin: 0;
  }

  .product-effect__wrap {
    justify-content: space-between;
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .product-effect__time-block {
    width: 298px;
    height: 345px;
    margin: 0;
    left: 18px;
  }

  .product-effect__time-block svg {
    position: relative;
    top: -13px;
    left: -15px;
    width: 298px;
    height: 345px;
  }

  .product-effect__time {
    padding: 9px 5px 9px 41px;
    width: 250px;
    height: 250px;
    font-size: 120px;
    line-height: 1.56;
    border: 16px solid #d22856;
  }

  .product-effect__descr {
    padding: 2px;
    margin: 0 35px 16px 0;
  }

  .product-effect__title {
    width: 300px;
    margin: 34px 0 21px;
  }

  .product-effect__parag {
    margin: 0;
    width: 535px;
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 30px;
  }

  .product-effect__research {
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
  }
}
