.product-effect {
  display: none;
}
@media (min-width: 660px) {
  .product-effect {
    display: block;
  }

  .product-effect__descr{
    width: 300px;
  }

  .product-effect__time{
    font-size: 96px;
    font-weight: 700;
    line-height: 1.56;
    color: #d22856;
    borber: solid
  }

  .product-effect__title {
    font-size: 30px;
    line-height: 1.2;
    color: #283645;
  }

  .product-effect__parag {
    font-size: 14px;
    line-height: 1.71;
    color: #283645;
  }
}
