.product-performance {
  background-color: #283645;
  text-align: center;
  padding: 0px 0 45px 0;
  position: relative;
  margin: -40px 0 0 0;
}

.product-performance__wrap {
  padding: 0 20px;
}

.product-performance__image {
  background: url("../img/icon/bg-product-performance-mobile.jpg") no-repeat 50% 100%;
  min-height: 396px;
  margin: 0 0 28px;
  background-size: cover;
  position: relative;
}

.product-performance__image--bg {
  min-height: 396px;
  background: url("../img/icon/iphone-5-in-hand-png.png") no-repeat 87% 100%;
}
/*.product-performance__image img {
  position: absolute;
  bottom: 0;
  left: -26%;
transform: translateX(-100px) translateY(195px);
}*/
.product-performance__download {
  min-width: 281px;
  padding: 18px 0;
  color: inherit;
  background-color: transparent;
  border: solid 3px #ffffff;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  margin: 0 0 32px;
  cursor: pointer;
}

.product-performance__support {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 28px;
}

.product-performance__system {
  margin: 0 17px;
}

.product-performance__availability {
  width: 245px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #ffffff;
  margin: auto;
}

.product-performance__parag {
  display: none;
}
@media (min-width: 720px) {
  .product-performance__image,
  .product-performance__image--bg {
    display: none;
  }

  .product-performance {
    padding: 103px 0 0;
    text-align: left;
    min-height: 619px;
    background: url("../img/icon/bg-back-tablet.jpg") no-repeat 50% 100%;
  }

  .product-performance__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 545px;
    background: url("../img/icon/iphone-hand-tablet.png") no-repeat 50% 100%;

  }

  .product-performance__support {
    justify-content: flex-start;
  }

  .product-performance__availability {
    margin: 0;
  }

  .product-performance__parag {
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    width: 186px;
    text-align: center;
    margin: 0 0 39px 50px;
  }
}
